html, body {
  height: 100%;
}
#tasks-div {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
}

/*
rgba(88, 95, 105, 0.9) - салатовый
rgba(23, 165, 137, 1) - зелёный 
rgba(60, 4, 88, 1) - фиолетовый
*/

.container-fluid {
    padding: 0;
}

.navbar-brand {
    height: 40px;
}
.navbar-brand {
    background-image: url('/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 180px;
}
#username, #password {
    padding: 0.18rem;
}
.mb-2, .mb-3 {
    margin-bottom: 0 !important;
}
.navbar {
    padding: 0.25rem 1rem;
}

main {
    min-height: 100%;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

main {
    position: relative;
    width: 100%;
/*    height: 100%; */
    /* background-image: url('/img/background.png'); */
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-size: contain;
    background-color: rgba(255, 255, 255, 1);
    display: block;
  }

.bg-dark {
    background-color: rgba(128, 188, 0, 0.9) !important; 
}
#tasks {
    margin-top: 60px !important;
}
.container {
    padding: 0;
}

.task {
    padding: 3px;
    cursor: pointer;
}
.tasks {
    margin: 10px 0;
    margin-left: 0;
}
h4 {
    text-align: right;
}
.btn-info {
    background-color: rgba(88, 95, 105, 0.9);
    color: rgba(255, 255, 255, 1);
    text-align: left;
    border: 0;
}
.btn-info:hover {
    color: rgba(88, 95, 105, 0.9);
    background-color: rgba(255, 255, 255, 1);
}
.btn-sm {
    padding: .2rem .5rem;
}
.d-inline {
    line-height: 40px;
}
#profile-div {
    cursor: default;
}

.solved {
    cursor: default;
    opacity: 0.65;
}
.card {
    min-height: 100%;
    background-color: rgba(88, 95, 105, 0.9) !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* border: 1px solid #000000; */
}
.card-body, .card-header {
    padding: 0.8rem;
}
h5 {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 320;
}
.card-title {
    margin-bottom: 0;
}
#task-desc {
    /* text-align: justify; */
    overflow-wrap: break-word;
}

.badge {
    font-weight: 400;
    font-size: 15px;
    padding: 0.3rem 0.3rem;
    cursor: default;
}

#tags-div {
    padding: 0;
    /* min-height: 100%; */
    margin-top: 7px !important;
    background-color: rgba(88, 95, 105, 0.9) !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* border: 1px solid #000000; */
}
.col-md-3 {
    padding-right: 15px !important;
}

.modal-dialog {
    max-width: 690px;
}
