.container-fluid {
padding: 0;
margin: 0;
}
.table>thead>tr>th, .table>tbody>tr>td {
  text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
#bg img {
  width: 100%;
}
#bg {
  padding: 0;
}
h2 {
  font-weight: 600;
}
::-webkit-scrollbar {
    display: none;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(128, 188, 0, 1);
   color: #ffffff;
   font-weight: bold;
   font-size: 45px;
}
b {
    text-shadow: 1px 1px 1px black;
    font-size: 45px;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   font-size: 45px;
   background-color: rgba(93,105,97,0.8);
   color: #ffffff;
   font-weight: bold;
}
thead {
  color: #afc6e8;
  font-size: 45px;
  background-color: #001d38;
}

.col-md-5, .col-md-2 {

font-size: 48px;
text-align:center;
}
#img {
  background-color: rgba(128, 188, 0, 1);
  padding: 6px 10px;
  border-radius: 20px;
}
